{% extends 'base.html' %}
{% block title %}Category{% endblock %}

{% block content %}
<h2>{{ category.title }}</h2>
<p class="text-secondary">{{ category.description }}</p>

<h4 class="mt-4">Notes</h4>

<div class="row">
    {% for note in notes %}
        <div class="col-md-6 mb-3">
            <div class="card card-dark p-3">
                <h5>{{ note.title }}</h5>
                <p>{{ note.text|truncatewords:25 }}</p>
                <a href="{% url 'note_detail' note.id %}" class="btn btn-outline-light btn-sm">View</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}