<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <style>
        body { background-color: #1e1e1e;
        color: #ffffff; }
        .note {
            border: 1px solid #ccc;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
        }
        .category {
            font-weight: bold;
            color: #3366cc;
        }

        .category-text {
            font-weight: bold;
            color: #87b3ff;
        }
        .reminder {
            color: #add;
            font-size: 0.9em;
        }
    </style>
</head>
<body>

<h1>My Notes</h1>
<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Notes</a>
    </div>
</nav>

<div class="container">
    <h2 class="mb-3">Categories</h2>

    <!-- Category List -->
    <ul class="list-group mb-4">
        {% for category in categories %}
            <li class="list-group-item list-group-item-dark">
                <a href="{% url 'category_detail' category_id=category.id %}">
                    {{ category.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <!-- Notes Section -->
    {% if notes %}
        <div class="row">
            {% for note in notes %}
                <div class="col-md-6 mb-3">
                    <div class="card note-card p-3">

                        <h4 class="card-title">{{ note.title }}</h4>

                        <p class="card-text">{{ note.text }}</p>

                        <p class="category-text">Category: {{ note.category.title }}</p>

                        {% if note.reminder %}
                            <p class="reminder">
                                Reminder: {{ note.reminder }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">No notes available.</p>
    {% endif %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>